<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/main.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="text-center title">
        <div class="mainTitle">ITS</div>
        <div class="subTitle">
            Cистема<br/>тестування
        </div>
    </header>
    <nav class="col-md-1 col-md-offset-2 box">
       @Html.Action("Menu", "Navigation")
    </nav>
    <div class="col-md-6 box">
        @if(TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissable" id="alert">
                <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
                    @TempData["message"]
            </div>
        }
        @RenderBody()
    </div>
</body>
</html>
