body {
    background: url('/Images/background1.jpg');
}
.title {
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 0px;
}
.mainTitle {
    display: inline-block;
    color: #ffffff;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000f67;
    text-shadow: 0px 0px 50px #000, 0px 0px 50px #005;
}
.subTitle {
    display: inline-block;
    color: #fff;
    font-size: 0.5em;
    line-height: 0.8em;
    text-align: left;
    text-shadow: 0px 0px 20px #000, 0px 0px 20px #005;
}
.box {
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 3px 3px 5px #808080;
    padding: 10px;
}
.field-validation-error{ color: red; font-weight: bold; }
.input-validation-error{ border: 1px inset red; }

.paperBox {
    display: block;
    background: #eef;
    box-shadow: 3px 3px 3px #bdbdbd;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
}
.testBox {
    cursor: pointer;
}
.testBox:hover {
    background: #77f;
    color: #fff;
}
.testBox:hover a {
    color: #fff;
}
.testBox:hover a:hover {
    color: #ddf;
}
.testSubject {
    font-size: 0.75em;
}
.m-a-0 {
    margin: 0px;
}
.m-b-0 {
    margin-bottom: 0px;
}
.float-btn {
    float: right;
    margin: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    cursor: pointer;
}
.float-btn-small {
    float: right;
    margin: 5px;
    font-size: 0.7em;
    cursor: pointer;
}
.questionText {
    font-size: 1.2em;
    line-height: 1.2em;
}
.answerDetails {
    font-size: 1em;
    margin-left: 20px;
}
.pointsDetails {
    font-size: .7em;
}
.abcd_letter {
    display: inline-block;
    font-weight: bold;
    width: 30px;
    margin-left: 20px;
}
.abcd_var.correct {
    color: #090;
}
.abcd_var.correct .abcd_letter {
    border: solid 3px #0b0;
    padding-left: 5px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    width: 35px;
}
.m-l-30 {
    margin-left: 30px;
}
nav {
    margin-top: 10px;
    background: rgba(255, 255, 200, 0.95) !important;
    padding: 0px !important;
    /*transform: rotate(-5deg);*/
}
.menuTitle {
    margin-top: 10px;
    color: #00a;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav a {
    display: block;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.2em;
    text-decoration: none !important;
    /*text-align: center;*/
    border-top: solid 1px rgba(119, 119, 255, 0.5);
}
nav a.selected {
    background: #ffff55;
}
nav a:hover {
    background: #77f;
    color: #fff;
}
.numberIcon {
    font-size: 1.2em; 
    line-height:1em;
    font-weight: bold;
}